certifi==2019.9.11
chardet==3.0.4
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.0.12
django-crispy-forms==1.8.0
django-heroku==0.3.1
django-mongoengine==0.3.3
django-rest-framework-mongoengine==3.4.0
djangorestframework==3.10.3
gunicorn==19.9.0
idna==2.8
mongoengine==0.18.2
oauthlib==3.1.0
Pillow==6.2.0
psycopg2==2.8.3
PyJWT==1.7.1
pymongo==3.9.0
python-decouple==3.1
python-dotenv==0.10.3
python3-openid==3.1.0
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
social-auth-app-django==3.1.0
social-auth-app-django-mongoengine==1.0.0
social-auth-core==3.2.0
social-auth-storage-mongoengine==1.0.1
sqlparse==0.3.0
urllib3==1.25.6
whitenoise==4.1.4
